<h2>Claudius Nicolae <em>Programmer</em></h2>

<p>
  He is a software developer from Romania. He has a 
  <em>Bachelors in Mathematics and Computer Science</em> from the
  <em>University of Bucharest</em> and also started a Masters in Software Development.
</p>
<p>
  He worked with many programming languages and technologies from web applications to
  kernel-mode code on both Linux and Windows platforms, and generally, he favors using
  open source software for most problems.
</p>
<p>
  You can find him online at:<br>
</p>

<ul>
  <li>
    <a href="https://twitter.com/_clyfe" class="twitter-follow-button">Follow @_clyfe</a>
    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
  </li>
  <li>
    <a href="http://stackoverflow.com/users/283608/clyfe">
      <img src="http://stackoverflow.com/users/flair/283608.png" width="208" height="58" alt="profile for clyfe at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for clyfe at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
  </li>
  <li>
    <a href="https://github.com/clyfe">https://github.com/clyfe</a>
  </li>
  <li>
    <a href="http://news.ycombinator.com/user?id=clyfe">http://news.ycombinator.com/user?id=clyfe</a>
  </li>
</ul>
