<h2>Vaidas Jablonskis <em>System Administrator</em></h2>

<p>
  He began his career as a Linux systems user and quickly became involved with 
  open source technologies.
</p>
<p>
  Vaidas currently works as a Linux Systems Administrator 
  for a London based company. He is greatly involved in Linux and free software 
  community and is always interested in giving something back.
</p>

<p>
  You can find him online at:
</p>

<ul>
  <li>
    <a href="https://twitter.com/vaijab" class="twitter-follow-button">Follow @vaijab</a>
    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
  </li>
  <li>
    <a href="http://jablonskis.org/">http://jablonskis.org/</a>
  </li>
</ul>
