<h2>Vaidas Jablonskis <em>System Administrator</em></h2>

<p>
  He began his career as a Linux systems user and quickly became involved with 
  open source technologies. Vaidas currently works as a Linux Systems Administrator 
  for a London based company. He is greatly involved in Linux and free software 
  community and is always interested in giving something back.
</p>

<p>
  He blogs at:<br>
</p>

<ul>
  <li>
    <a href="http://jablonskis.org/">http://jablonskis.org/</a>
  </li>
</ul>
