<ul>
  <li>Have total control over your domains and records</li>
  <li>Host your web site using your own internet connection</li>
  <li>Access your computer using a domain name instead of a numerical IP address</li>
  <li>Use your home dynamic IP and always have your domain pointing to it</li>
  <li>Spend your money on more important things</li>
</ul>
