db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.redcar/
.kateproject.d/
.vagrant/
nbproject/
config/database.yml
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
config/settings.yml
public/assets
spec/.views/
spec/.requests/
spec/.controllers/
spec/.helpers/
coverage
vendor/cache
vendor/ruby
dist/google_marketplace.zip
