<div class="page-header">
  <h1>About EntryDNS</h1>
</div>

<p>
  EntryDNS delivers a totally free DNS management service for your enjoyment. 
  <br />
  Our aim is to provide a friendly and caring, yet powerful service for your DNS needs.
</p>

<h4>What you can use it for</h4>

<p>
  With our service you can create hosts or host your own domains, 
  manage them from the web application or use our API's (simple API and complete REST API)
  to automate tasks as you wish.
  <br />
  The service gives you a total control of your DNS records without any restrictions.
</p>

<h4>How can you benefit from this</h4>

<%= render 'public/pages/shared/benefits' %>

<p>
  We are open to new ideas or suggestions how to make the service better for you to use. 
  <br />
  We are interested to hear from people who would like to contribute in any way.
</p>

