<div class="page-header">
  <h1>Contact us</h1>
  <small>
    Our email address is <%= mail_to Settings.support_mail %> ,
    or you can contact us using the form below:
  </small>
</div>

<div class="row">
  <div class="col-lg-offset-2 col-lg-8">
    <%= render :partial => 'public/pages/contact/form' %>
  </div>
</div>
