<div class="page-header">
  <h1>Donate</h1>
  <small>How do I contribute?</small>
</div>

<div class="progress">
  <% size = Setting['public.donations.progress'] %>
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= size -%>" 
       aria-valuemin="0" aria-valuemax="100" style="width: <%= progress_size(size) -%>%;">
    <span><%= size -%>% Complete</span>
  </div>
</div>

<p>
  EntryDNS is a free service for everyone, but contribution is more than welcome. 
  Like every service, it needs some hardware to run on, requires network bandwidth and maintenance.
</p>

<p>
  If you wish to contribute, you can send us any amount of money which will help us pay 
  hosting and network bandwidth bills as well as to expand our name server nodes across 
  the world for better response times and availability. 
</p>

<div class="row donate-actions">
  <div class="col-lg-4">
    <h3>&euro; EUR</h3>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="7FQMY358VCKA6">
      <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
  <div class="col-lg-4">
    <h3>$ USD</h3>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="5U3JLJAAKRGPJ">
      <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
  <div class="col-lg-4">
    <h3>&pound; GBP</h3>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="WJJWPYZBBBKUG">
      <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>

