<div class="page-header">
  <h1>Meet the founders</h1>
</div>

<div class="row">
  <div class="span6">
    <%= render :partial => 'public/pages/team/zooz' %>
  </div>
  <div class="span6">
    <%= render :partial => 'public/pages/team/clyfe' %>
  </div>
</div>
