.call-to-action {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    padding-right: 6em;
    small {
        font-style: italic;
        font-size: 80%
    }
}

.twitter-share-button {
    font-size: 14px;
    font-weight: normal;
}

.page-home-incentives li,
.page-home-incentives p {
    font-size: 14px;
    line-height: 20px;
}

.page-home-header {
    background-color: #B9DCFF;
    border-bottom: 1px solid darken(#B9DCFF, 10%);
    .page-header {
        small {
            color: #3F3F39;
        }
        border-bottom: none;
        padding-bottom: 0;
    }
}

.page-home-incentives {
    border-top: 1px solid white;
    background-color: #DAFFCD;
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid darken(#DAFFCD, 10%);
}

.page-home-quotes {
    border-top: 1px solid white;
    padding-top: 17px;
    blockquote {
        font-style: italic;
        color: #555;
    }
}

.page-home-extra {
    padding-top: 17px;
}
