@import "compass/css3/images";
@import "compass/css3/border-radius";

.page-home-header {
    @include background(radial-gradient(color-stops(#fff, #c1f1ff), bottom));
    border-bottom: 1px solid #B9DCFF;
    .page-header {
        small { color: #3F3F39; }
        border-bottom: none;
        padding-bottom: 0;
        margin: 20px 0 20px;
    }
}

.page-home-incentives {
    border-top: 1px solid lighten(#DAFFCD, 5%);
    @include background(image-url("marketing/square_bg.png"),
    radial-gradient(#fff, darken(#DAFFCD, 10%)));
    padding-top: 17px;
    padding-bottom: 17px;
    border-bottom: 1px solid darken(#DAFFCD, 15%);
}

.page-home-quotes {
    border-top: 1px solid white;
    padding-top: 17px;
    blockquote {
        font-style: italic;
        color: #555;
    }
}

// text-separator
.text-separator {
    overflow: hidden;
    text-align: center;
    margin: 20px 0 20px 0;
}
.text-separator:before,
.text-separator:after {
    background-color: #abe098;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.text-separator:before {
    right: 0.5em;
    margin-left: -50%;
}
.text-separator:after {
    left: 0.5em;
    margin-right: -50%;
}
