@import "compass/css3/text-shadow";
@import "ui/buttons";

#main .home-page-block {
    background-color: #333333;
    .content h1 {
        //text-align: center;
        font-size: 32px;
        //font-weight: bold;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #333333;
        color: white;
        small {
            font-size: 26px;
            color: #3e3d4c;
            font-style: normal;
            font-weight: normal;
            color: white;
            @include text-shadow(none, 0, 0, 0, 0);
        }
    }
}

.home-page-duo td {
    vertical-align: top;
    width: 50%;
    blockquote {
        font-style: italic;
        font-size: 1.2em;
        font-family: Cambria, Georgia, serif;
        color: #333;
        line-height: 1.4em;
        margin-bottom: 30px;
        strong {
            font-style: normal;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: normal;
        }
    }
}

#main.home-page-main {
    margin-left: auto;
    margin-right: auto;
    float: none;
    
    .block .content .home-page-inner {        
        background-color: #e5ecf3;
        padding: 20px 30px 30px;
        @include border-bottom-radius(6px);
        h2 {
            font-size: 25px;
            margin-top: 0;
        }
        p {
            font-size: 18px;
            line-height: 1.2em;
            color: #555;
        }
        
        .home-page-text li {
            list-style-image: url(image_path('theme/check.png'));
            font-size: 20px;
            color: #555;
        }
    }
    
    .home-page-text {
        padding-right: 20px;
    }
    .home-page-images {
        padding-left: 20px;
    }
    
    em.mk-point {
        font-style: normal;
        color: darken(#6b35a6, 30);
        //@include text-shadow(0 0 6px rgba(143, 181, 200, 1),0 0 30px rgba(143, 181, 200, .7));
    }
    
    .action {
        padding: 0 20px 20px 20px;
        text-align: center;
        
        a {
            @include button(#7a43b6, #fff, 0 -1px 1px rgba(0,0,0,.4));
            //@include cupid-green;
            
            width: 250px;
            height: 40px;
            margin: auto;
            text-align: center;
            
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            strong {
                font-size: 18px;
                font-weight: bold;
            }
            em {
                font-size: 13px;
                font-weight: normal;
            }
        }
    }
}

.home-page-second {
    h2 {
        text-align: center;
        border-bottom: 1px solid #eee;
    }
}