<p>
  <%= @permission.domain.name %> is no longer shared with you.
</p>

<p>
  <%= link_to 'Manage domains', domains_url %>
</p>

<p>
  If you cannot see the link copy and paste the following address in your browser address bar:<br />
  <%= domains_url %>
</p>
