@import 'compass/css3/border-radius';

#error_explanation {
    @extend .alert;
    @extend .alert-danger;
    h2 {
        color: $state-danger-text;
        margin-top: 0;
    }
}

.field_with_errors {
    display: table;
    label {
        color: $state-danger-text;
    }
    input, textarea, select {
        border: 1px solid $state-danger-border;
    }
}
