body {
    background: #f7fdff;
}

@media (max-width: 980px) {
    .navbar-fixed-top {
        margin-bottom: 0px;
    }
}

@media (min-width: 980px) {
    #main {
        margin-top: 40px;
    }
}


.footer {
    margin-top: 25px;
    padding: 15px 0 15px;
    border-top: 1px solid #E5E5E5;
}

