$footer-size: 120px;

body {
    background: #f7fdff;
    padding-top: 50px;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-$footer-size);
}

#push {
    height: $footer-size;
}

#footer {
    height: $footer-size;
}

.page-header {
    text-align: center;
    margin-top: 20px;
    h1 {
        margin-top: 0;
    }
}