<h3>
  Our kick-ass interface makes managing DNS a breeze.
</h3>
<br />
<p>
  Easily manage multiple domains and hosts,
  collaborate and manage work-sharing with other sysadmins,
  automate and simplify infrastructure.
</p>
<br />
<ul>
  <li>
    Friendly support from the founders
  </li>
  <li>
    Offsite backup, every 3 hours
  </li>
  <li>
    We are monitoring everything to work smoothly
  </li>
  <li>
    Complete developers API's
  </li>
</ul>

