<h2>A friendly service you can use right away</h2>

<p>
  We're people passionate about technology and we built  to fill our own needs,
  a <em class="mk-point">fast, easy to use</em> service 
  that takes care of <em class="mk-point">all your configuration needs</em>.
</p>

<ul>
  <li>
    Intuitive interface
  </li>
  <li>
    Friendly and reliable support
  </li>
  <li>
    Full offsite backup, daily
  </li>
  <li>
    Complete developers API's
  </li>
</ul>

<%= render :partial => 'pages/fragments/action' %>
