<div id="slidesWrapper">
  <div id="slides">
    <%= image_tag 'marketing/domains.jpg' %>
    <%= image_tag 'marketing/hosts.jpg' %>
  </div>
</div>

<script type="text/javascript">
  $("#slides")
  .slides({
    width: 470,
    navigation: false,
    //responsive: true,
    slide: {
      interval: 500
    },
    preload: {
      active: true
    },
    playInterval: 8000,
    pauseInterval: 16000
  })
  .slides('play');
</script>