<ul>
  <li>Unlimited domain hosting</li>
  <li>Dynamic DNS record updates</li>
  <li>Simple API for users to update/change DNS records</li>
  <li>REST API for power users to update/change DNS records</li>
  <li>Record types: SOA, NS, A, CNAME, AAAA, MX, TXT, SRV</li>
  <li>Unlimited subdomain hosting</li>
  <li>Very low TTL values</li>
</ul>

<em>Coming soon</em>

<ul>
  <li>IPv6 support</li>
  <li>DNSSEC support</li>
  <li>More NS nodes for high availability</li>
  <li>And many more...</li>
</ul>
