<div class="navbar navbar-inverse navbar-fixed-top navbar-main" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to('EntryDNS', root_path, class: 'navbar-brand logo') %>
    </div>

    <div class="collapse navbar-collapse navbar-main-collapse">
      <% if user_signed_in? %>
        <%= render 'shared/navigation/users' %>
      <% else %>
        <%= render 'shared/navigation/public' %>
      <% end %>
    </div>

  </div>
</div>
