<h2>Reliable service you can use right away</h2>

<p>
  We're Sysadmins who built EntryDNS to fill our own needs.
  It's important to have a <em class="mk-point">fast and reliable</em> DNS service 
  that <em class="mk-point">you can configure in no-time</em>, and we'd like to show how 
  <em class="mk-point">you too can take advantage of it</em>.
</p>

<ul>
  <li>
    Intuitive interface
  </li>
  <li>
    Friendly and reliable support
  </li>
  <li>
    Global infrastructure
  </li>
  <li>
    Full offsite backup, daily
  </li>
</ul>

<div class="action">

  <%= image_tag 'marketing/arrow_left.png' %>
  <%= link_to new_user_registration_path, :style => 'text-decoration: none' do %>
    <strong>Create an Account Now</strong><br>
    <em>It's free, sign up in 60 seconds.</em>
  <% end %>

</div>
