<h2>Reliable service you can use right away</h2>

<p>
  We're Sysadmins who built EntryDNS to fill our own needs.
  We think it's important to have a <em class="mk-point">fast and reliable</em> DNS service 
  that <em class="mk-point">you can configure in no-time</em>, and we'd like to show how 
  <em class="mk-point">you too can take advantage of it</em>.
</p>

<ul>
  <li>
    With our intuitive interface, configuring is a breeze
  </li>
  <li>
    Friendly and reliable support you can count on
  </li>
  <li>
    Global infrastructure using fast and secure systems
  </li>
  <li>
    Full offsite backup, daily
  </li>
</ul>

<div class="action">

  <%= link_to new_user_registration_path, :style => 'text-decoration: none' do %>
    <%= image_tag 'marketing/arrow_left.png' %>
    <button>
      <strong>Create an Account Now</strong><br>
      <em>It's free, sign up in 60 seconds.</em>
    </button>
  <% end %>

</div>
