<div id="slidesWrapper">
  <div id="slides">
    <img src="http://slidesjs.com/examples/standard/img/slide-1.jpg">
    <img src="http://slidesjs.com/examples/standard/img/slide-2.jpg">
    <img src="http://slidesjs.com/examples/standard/img/slide-3.jpg">
    <img src="http://slidesjs.com/examples/standard/img/slide-4.jpg">
  </div>
</div>

<script type="text/javascript">
  $("#slides")
    .slides({
      width: 470,
      navigation: false,
      //responsive: true,
      slide: {
        interval: 500
      }
    })
    .slides('play');
</script>