<div class="block">
  <div class="content">
    <div class="inner marketing-inner">

      <h1>A free service created by sysadmins for sysadmins</h1>

      <table class="marketing-duo">
        <tr>
          <td class="marketing-text">
            <%= render :partial => 'headlines' %>
          </td>
          <td class="marketing-images">
            <%= render :partial => 'slides' %>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
