<% columns.each do |column| %>
  <% authorized = record.authorized_for?(:crud_type => :read, :column => column.name) -%>
  <% column_value = authorized ? get_column_value(record, column) : active_scaffold_config.list.empty_field_text -%>

  <td class="<%= column_class(column, column_value, record) %>" >
    <% if column.name == :change_date %>
      <% column_value = Time.at(record.change_date) unless record.change_date.nil? # TODO: localize ? %>
      <%= authorized ? render_list_column(column_value, column, record) : column_value %>
    <% else %>
      <%= authorized ? render_list_column(column_value, column, record) : column_value %>
    <% end %>
  </td>
<% end -%>
