<div class="block article">
  <div class="content">
    <div class="inner">

      <h1>Contact us</h1>

      <p>
        E-Mail address: <a href="mailto:support@entrydns.net">support@entrydns.net</a>
      </p>

    </div>
  </div>
</div>
