<div class="block article">
  <div class="content">
    <div class="inner">

      <h1>Contact us</h1>

      <p>
        Our email address is <a href="mailto:support@entrydns.net">support@entrydns.net</a> ,
        or you can contact us using the form below:
      </p>

      <%= render :partial => 'pages/contact/form' %>

    </div>
  </div>
</div>
