<div class="block marketing-block">
  <div class="content">
    <h1>Totally Free DNS service for Geeks <small>created by Geeks</small></h1>
    <div class="inner marketing-inner">

      <table class="marketing-duo">
        <tr>
          <td class="marketing-text">
            <%= render :partial => 'pages/home/headlines' %>
          </td>
          <td class="marketing-images">
            <%= render :partial => 'pages/home/slides' %>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>

<div class="block">
  <div class="content">
    <div class="inner">

      <table class="marketing-duo">
        <tr>
          <td class="marketing-text">
            <h2>Benefits</h2>
            <%= render 'pages/fragments/benefits' %>
          </td>
          <td class="marketing-images">
            <h2>Features</h2>
            <%= render 'pages/fragments/features' %>
          </td>
        </tr>
      </table>

    </div>
  </div>
</div>
