<div class="block">
  <div class="content">
    <div class="inner team">
      
      <h1>Meet the founders</h1>

      <table>
        <tr>
          <td class="bio">
            <%= render :partial => 'pages/team/zooz' %>
          </td>
          <td class="bio">
            <%= render :partial => 'pages/team/clyfe' %>
          </td>
        </tr>
      </table>
      
    </div>
  </div>
</div>
