@import "compass/css3/gradient";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

@mixin cupid-green {
    @include background(
    image-url("marketing/action/slick-black.png"),
    linear-gradient(top, #7fbf4d, #63a62f)
    );
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    @include border-radius(3px);
    @include box-shadow(inset 0 1px 0 0 #96ca6d);
    color: #fff;
    font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    line-height: 1;
    padding: 7px 0 8px 0;
    text-align: center;
    text-shadow: 0 -1px 0 #4c9021;
    width: 150px;
    
    &:hover {
        @include background(
        image-url("marketing/action/slick-black.png"),
        linear-gradient(top, #76b347, #5e9e2e)
        );
        @include box-shadow(inset 0 1px 0 0 #8dbf67);
        cursor: pointer;
    }
    
    &:active {
        border: 1px solid #5b992b;
        border-bottom: 1px solid #538c27;
        @include box-shadow(inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee);
    }
}
