<div id="footer">
  <div class="block">
    <p>
      <a href="#">Terms</a>
      <a href="#">Privacy</a>
      <a href="#">Contact</a>
      &copy; <%= Time.now.year %> EntryDNS Team
    </p>
  </div>      
</div>

<%= render :partial => 'fragments/analytics' %>
