/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.

*= require bootstrap-social
*= require font-awesome
*= require_self
*/

$label_color: #555; // hack for as labels ...
$carousel-indicator-border-color: #333;
$carousel-indicator-active-bg: #333;
$grid-float-breakpoint: 992px;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";
@import "active_scaffold";
@import "theme/*";
@import "pages/*";
