@import "ui/buttons";

.marketing .header-inner {
    width: 77%;
    margin: auto;
    position: relative;
}

.marketing-duo td {
    vertical-align: top;
}

#main.marketing-main {
    margin-left: auto;
    margin-right: auto;
    float: none;
    
    .block .content .marketing-inner {        
        padding: 0 30px 30px;
        h2 {
            font-size: 25px;
            margin-top: 0;
        }
        p {
            font-size: 18px;
            line-height: 1em;
            color: #555;
        }
    }
    
    .marketing-text {
        padding-right: 20px;
    }
    .marketing-images {
        padding-left: 20px;
    }
    
    h1 {
        text-transform: uppercase;
        font-size: 30px;
        font-weight: bold;
    }
    
    em.mk-point {
        font-style: normal;
        color: #111;
    }
    
    li {
        font-size: 18px;
    }
    
    .action {
        padding: 0 20px 20px 20px;
        text-align: center;
        
        a {
            @include button(#7a43b6, #fff, 0 -1px 1px rgba(0,0,0,.4));
            //@include cupid-green;
            
            width: 250px;
            height: 40px;
            margin: auto;
            text-align: center;
            
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            strong {
                font-size: 18px;
                font-weight: bold;
            }
            em {
                font-size: 13px;
                font-weight: normal;
            }
        }
    }
}
