#main .block {
    .content p {
        font-size: 16px;
    }
    
    .content h2 {
        margin-left: 0 !important;
    }
    
    .content .active-scaffold-header h2 {
        font-size: 160%;
    }
    
    .content .active-scaffold th a {
        text-shadow: none;
    }
    
    .content .active-scaffold th p {
        font: bold 11px arial, sans-serif;
        text-shadow: none;
    }
}

body.errors #main .inner {
    margin-top: 15px;
}

#as_domains-active-scaffold .name-column, 
#as_hosts-active-scaffold .name-column {
    font-weight: bold;
    text-shadow: none;
}

#as_domains-active-scaffold tr.shared-domain {
    &.record {
        background-color: mix(#E6F2FF, lighten(yellow, 30%));
    }
    &.record td {
        border-bottom: solid 1px #C5DBF7;
        border-left: solid 1px #C5DBF7;
    }
    
    &.even-record {
        background-color: mix(#fff, lighten(yellow, 40%));
    }
    &.even-record td {
        border-left-color: #ddd;
    }
    
    &.record td.sorted {
        background-color: mix(#B9DCFF, lighten(yellow, 30%));
        border-bottom-color: #AFD0F5;
    }
    
    &.even-record td.sorted {
        background-color: mix(#E6F2FF, lighten(yellow, 40%));
        border-bottom-color: #AFD0F5;
    }
    &.record td.actions table td {
        border: none;
    }
}

.flash .alert {
    border: 1px solid #bb9004;
    background: #f9c006 url(image-path("messages/warning.png")) no-repeat 10px center;
}

.active-scaffold {
    input[type="submit"], input[type="reset"], button {
        @extend .btn;
        margin-top: 0;
        padding-top: 2px;
        padding-bottom: 1px;
    }
    input, select, textarea {
        margin-bottom: 0;
    }
    a.as_cancel {
        vertical-align: middle;
    }
}