.active-scaffold-header div.actions {
    top: 0;
}

.active-scaffold {
    input[type="submit"], input[type="reset"], button {
        @extend .btn;
        margin-top: 0;
        padding-top: 2px;
        padding-bottom: 1px;
    }
    input, select, textarea {
        margin-bottom: 0;
    }
    a.as_cancel {
        vertical-align: middle;
    }
}
